version: "3"

services:
  express-a:
    build: ./express-a
    entrypoint: ./.docker/entrypoint.sh
    container_name: rabbitmq-express-a
    restart: on-failure
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - 3001:3000
    volumes:
      - ./express-a:/home/node/express-a
    depends_on:
      - rabbitmq

  express-b:
    build: ./express-b
    entrypoint: ./.docker/entrypoint.sh
    container_name: rabbitmq-express-b
    restart: on-failure
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - 3000:3000
    volumes:
      - ./express-b:/home/node/express-b
    depends_on:
      - rabbitmq

  rabbitmq:
    image: "rabbitmq:3.8-management-alpine"
    container_name: rabbitmq-test
    hostname: rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - "./.rabbitmq_data:/var/lib/rabbitmq/mnesia"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
